<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body>
        {{- partial "header.html" . -}}
    <div class="column-layout" id="content">
        <div class="column left optional">
          <div class="toc-container sticky">
            {{ .TableOfContents }}
          </div>
        </div>
        <div class="column middle">
          <div class="container">
            {{- .Content }}
          </div>
        </div>
        <div class="column right">
        {{ with .Site.GetPage "skills" }}
        <div class="skills-container sticky">
          {{ .Content }}
        </div>
        {{ end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}
    </body>
<script src="js/highlight.js"></script>
</html>
